USE [master]
GO
/****** Object:  Database [J3_L_P0001]    Script Date: 3/25/2020 10:02:57 PM ******/
CREATE DATABASE [J3_L_P0001]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'J3_L_P0001', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\J3_L_P0001.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'J3_L_P0001_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\J3_L_P0001_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [J3_L_P0001].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [J3_L_P0001]
GO
/****** Object:  Table [dbo].[account]    Script Date: 3/25/2020 10:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[id] [int] NOT NULL,
	[username] [varchar](30) NOT NULL,
	[password] [varchar](15) NOT NULL,
	[type] [bit] NOT NULL,
	[email] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[answer]    Script Date: 3/25/2020 10:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[answer](
	[id_question] [int] NOT NULL,
	[answer_number] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[questions]    Script Date: 3/25/2020 10:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[questions](
	[id] [int] NOT NULL,
	[question] [varchar](200) NOT NULL,
	[option_1] [varchar](100) NULL,
	[option_2] [varchar](100) NULL,
	[option_3] [varchar](100) NULL,
	[option_4] [varchar](100) NULL,
	[DateCreated] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[answer]  WITH CHECK ADD  CONSTRAINT [fk_ans_ques] FOREIGN KEY([id_question])
REFERENCES [dbo].[questions] ([id])
GO
ALTER TABLE [dbo].[answer] CHECK CONSTRAINT [fk_ans_ques]
GO
USE [master]
GO
